body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    font-size: 5em;
}
p{
    font-size: 1.5em;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2em;
}
.nav-item > a{
    font-size: 1.2em;
    text-decoration: none; 
    border: 3px solid rgba(0, 128, 0, 0);
    font-weight: 500;
    color: black; 
    transition: border padding 0.2s ease-in-out;
}

.sign-in > a{
    background-color: rgb(91, 218, 91);
    padding: 7px 14px;
    border-radius: 16px;
    color: white;
}
.nav-item > a:hover{
    border-bottom: 3px solid rgb(105, 222, 69);
}
.logo {
    font-size: 2em;
    letter-spacing: 2px;
}

.hero-page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.main-text{
    margin-top:10em;
    width: 50%;
    text-align: center;
}
.sec-text{
    margin-top: -6em;
}
.button-section{
    display: flex;
    flex-grow: 1;
    gap: 2em;
}
.btn-green > a{
    text-decoration: none;
    color: white;
    background-color:  rgb(91, 218, 91);
    padding: 10px 40px;
    border-radius: 32px;
    font-size: 1.5em;
}
.btn-white > a{
    text-decoration: none;
    color:  rgb(91, 218, 91);
    background-color:  white;
    padding: 10px 40px;
    border-radius: 32px;
    font-size: 1.5em;
}
.image-section{
    margin: 10% 5%;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-between;
}

.img{
    display: block;
    width: 20vw;
    border: 16px  solid white;
    border-bottom: 5em  solid white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: width 0.3s ease-in-out;
}
.img:hover{
    display: block;
    width: 22vw;
    border: 16px  solid white;
    border-bottom: 5em  solid white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}